In [1]:
import pandas as pd
import numpy as np

jan_df = pd.read_excel('fake_sales.xlsx', sheetname='January')

In [2]:
jan_df.head()

        Date  US_Sales  UK_Sales  Canada_Sales
0 2019-01-01   9300.52   4270.45       8330.70
1 2019-01-02   6250.65   5680.58       3650.58
2 2019-01-03   6870.29   8380.25       1900.04
3 2019-01-04   5620.17   9420.67       7260.93
4 2019-01-05   9430.28   8640.58       8180.83

In [3]:
print(jan_df.dtypes)

Date            datetime64[ns]
US_Sales               float64
UK_Sales               float64
Canada_Sales           float64
dtype: object

In [4]:
feb_df = pd.read_excel('fake_sales.xlsx', sheetname='February')

In [5]:
feb_df.head()

        Date  US Sales  UK Sales  Canada Sales
0 2019-02-01   8470.48   5170.39       3710.78
1 2019-02-02   4930.76   3320.80       5800.50
2 2019-02-03   6040.84   7310.09       2490.01
3 2019-02-04   6840.61   8980.43       4040.51
4 2019-02-05   4070.03   6360.77           NaN

In [6]:
feb_df.columns = ['Date', 'US_Sales', 'UK_Sales', 'Canada_Sales']
feb_df.head()

        Date  US_Sales  UK_Sales  Canada_Sales
0 2019-02-01   8470.48   5170.39       3710.78
1 2019-02-02   4930.76   3320.80       5800.50
2 2019-02-03   6040.84   7310.09       2490.01
3 2019-02-04   6840.61   8980.43       4040.51
4 2019-02-05   4070.03   6360.77           NaN

In [8]:
sales_df = pd.concat([jan_df, feb_df], axis=0, join='outer')

In [9]:
sales_df

         Date  US_Sales  UK_Sales  Canada_Sales
0  2019-01-01   9300.52   4270.45       8330.70
1  2019-01-02   6250.65   5680.58       3650.58
2  2019-01-03   6870.29   8380.25       1900.04
3  2019-01-04   5620.17   9420.67       7260.93
4  2019-01-05   9430.28   8640.58       8180.83
5  2019-01-06   9920.03   2150.91       5900.60
6  2019-01-07   7340.07   3810.27       7500.20
7  2019-01-08   3050.27   2060.32       2760.60
8  2019-01-09   6570.98   3270.48       1020.84
9  2019-01-10   1970.04   4520.89       3920.62
10 2019-01-11   1910.55   2720.27       5400.94
11 2019-01-12   3110.73   3060.77       1250.16
12 2019-01-13   5620.41   5750.40       8130.10
13 2019-01-14   8560.79   5250.90       5480.12
14 2019-01-15   2150.69   7230.77       3210.70
15 2019-01-16   4820.49   3320.96       9530.08
16 2019-01-17   5760.01   4320.24       6470.91
17 2019-01-18   8490.52   6300.55       4190.33
18 2019-01-19   8950.99   7630.46       1750.46
19 2019-01-20   6180.84   1320.65           NaN
20 2019-01-21   6400.64   4410.63       1000.69
21 2019-01-22   5290.64   2140.94       4320.04
22 2019-01-23   1320.28   8400.19       6800.29
23 2019-01-24   7640.50       NaN       4530.88
24 2019-01-25   1130.03   2450.94       3890.31
25 2019-01-26   1480.84   2950.27       5690.83
26 2019-01-27   3120.95   9970.59       7720.27
27 2019-01-28   6300.24   5720.05       5810.64
28 2019-01-29   7950.42   9230.52       2850.63
29 2019-01-30   7020.59   5130.04       2130.45
30 2019-01-31   7530.65   8620.11       6140.37
0  2019-02-01   8470.48   5170.39       3710.78
1  2019-02-02   4930.76   3320.80       5800.50
2  2019-02-03   6040.84   7310.09       2490.01
3  2019-02-04   6840.61   8980.43       4040.51
4  2019-02-05   4070.03   6360.77           NaN
5  2019-02-06   4260.00   4990.69       6710.34
6  2019-02-07   9650.76   1030.61       8560.15
7  2019-02-08   7690.04   2760.49       3930.08
8  2019-02-09   6940.78   5900.87       7240.63
9  2019-02-10   6670.49   5290.13       4200.50
10 2019-02-11   1960.94   1400.81       1140.04
11 2019-02-12   1380.92   3760.31       3670.08
12 2019-02-13   3860.88   7490.72       4050.65
13 2019-02-14   5420.71   5850.58       3750.88
14 2019-02-15   2000.81   6850.50       7490.92
15 2019-02-16   6210.14   4750.72       7580.35
16 2019-02-17       NaN   9890.08       9970.77
17 2019-02-18   3970.39   6330.01       5910.56
18 2019-02-19   9370.29   2640.38       5900.14
19 2019-02-20   3790.34   4470.27       2790.09
20 2019-02-21   4700.27   4400.77       5570.43
21 2019-02-22   5110.72   3550.09       6770.21
22 2019-02-23   8990.15   3260.81       8340.02
23 2019-02-24   1160.20   8500.94       4530.35
24 2019-02-25   2560.97   7350.13       8810.55
25 2019-02-26   8590.08   7320.83       6370.43
26 2019-02-27   4850.27   4870.57       6460.61
27 2019-02-28   8690.32   2350.45       5110.09

In [11]:
sales_df = sales_df.fillna(0)
sales_df

         Date  US_Sales  UK_Sales  Canada_Sales
0  2019-01-01   9300.52   4270.45       8330.70
1  2019-01-02   6250.65   5680.58       3650.58
2  2019-01-03   6870.29   8380.25       1900.04
3  2019-01-04   5620.17   9420.67       7260.93
4  2019-01-05   9430.28   8640.58       8180.83
5  2019-01-06   9920.03   2150.91       5900.60
6  2019-01-07   7340.07   3810.27       7500.20
7  2019-01-08   3050.27   2060.32       2760.60
8  2019-01-09   6570.98   3270.48       1020.84
9  2019-01-10   1970.04   4520.89       3920.62
10 2019-01-11   1910.55   2720.27       5400.94
11 2019-01-12   3110.73   3060.77       1250.16
12 2019-01-13   5620.41   5750.40       8130.10
13 2019-01-14   8560.79   5250.90       5480.12
14 2019-01-15   2150.69   7230.77       3210.70
15 2019-01-16   4820.49   3320.96       9530.08
16 2019-01-17   5760.01   4320.24       6470.91
17 2019-01-18   8490.52   6300.55       4190.33
18 2019-01-19   8950.99   7630.46       1750.46
19 2019-01-20   6180.84   1320.65          0.00
20 2019-01-21   6400.64   4410.63       1000.69
21 2019-01-22   5290.64   2140.94       4320.04
22 2019-01-23   1320.28   8400.19       6800.29
23 2019-01-24   7640.50      0.00       4530.88
24 2019-01-25   1130.03   2450.94       3890.31
25 2019-01-26   1480.84   2950.27       5690.83
26 2019-01-27   3120.95   9970.59       7720.27
27 2019-01-28   6300.24   5720.05       5810.64
28 2019-01-29   7950.42   9230.52       2850.63
29 2019-01-30   7020.59   5130.04       2130.45
30 2019-01-31   7530.65   8620.11       6140.37
0  2019-02-01   8470.48   5170.39       3710.78
1  2019-02-02   4930.76   3320.80       5800.50
2  2019-02-03   6040.84   7310.09       2490.01
3  2019-02-04   6840.61   8980.43       4040.51
4  2019-02-05   4070.03   6360.77          0.00
5  2019-02-06   4260.00   4990.69       6710.34
6  2019-02-07   9650.76   1030.61       8560.15
7  2019-02-08   7690.04   2760.49       3930.08
8  2019-02-09   6940.78   5900.87       7240.63
9  2019-02-10   6670.49   5290.13       4200.50
10 2019-02-11   1960.94   1400.81       1140.04
11 2019-02-12   1380.92   3760.31       3670.08
12 2019-02-13   3860.88   7490.72       4050.65
13 2019-02-14   5420.71   5850.58       3750.88
14 2019-02-15   2000.81   6850.50       7490.92
15 2019-02-16   6210.14   4750.72       7580.35
16 2019-02-17      0.00   9890.08       9970.77
17 2019-02-18   3970.39   6330.01       5910.56
18 2019-02-19   9370.29   2640.38       5900.14
19 2019-02-20   3790.34   4470.27       2790.09
20 2019-02-21   4700.27   4400.77       5570.43
21 2019-02-22   5110.72   3550.09       6770.21
22 2019-02-23   8990.15   3260.81       8340.02
23 2019-02-24   1160.20   8500.94       4530.35
24 2019-02-25   2560.97   7350.13       8810.55
25 2019-02-26   8590.08   7320.83       6370.43
26 2019-02-27   4850.27   4870.57       6460.61
27 2019-02-28   8690.32   2350.45       5110.09

In [12]:
sales_df['US_Sales'] = sales_df['US_Sales'] * 0.75
sales_df['Canada_Sales'] = sales_df['Canada_Sales'] * 0.56
sales_df

         Date   US_Sales  UK_Sales  Canada_Sales
0  2019-01-01  6975.3900   4270.45     4665.1920
1  2019-01-02  4687.9875   5680.58     2044.3248
2  2019-01-03  5152.7175   8380.25     1064.0224
3  2019-01-04  4215.1275   9420.67     4066.1208
4  2019-01-05  7072.7100   8640.58     4581.2648
5  2019-01-06  7440.0225   2150.91     3304.3360
6  2019-01-07  5505.0525   3810.27     4200.1120
7  2019-01-08  2287.7025   2060.32     1545.9360
8  2019-01-09  4928.2350   3270.48      571.6704
9  2019-01-10  1477.5300   4520.89     2195.5472
10 2019-01-11  1432.9125   2720.27     3024.5264
11 2019-01-12  2333.0475   3060.77      700.0896
12 2019-01-13  4215.3075   5750.40     4552.8560
13 2019-01-14  6420.5925   5250.90     3068.8672
14 2019-01-15  1613.0175   7230.77     1797.9920
15 2019-01-16  3615.3675   3320.96     5336.8448
16 2019-01-17  4320.0075   4320.24     3623.7096
17 2019-01-18  6367.8900   6300.55     2346.5848
18 2019-01-19  6713.2425   7630.46      980.2576
19 2019-01-20  4635.6300   1320.65        0.0000
20 2019-01-21  4800.4800   4410.63      560.3864
21 2019-01-22  3967.9800   2140.94     2419.2224
22 2019-01-23   990.2100   8400.19     3808.1624
23 2019-01-24  5730.3750      0.00     2537.2928
24 2019-01-25   847.5225   2450.94     2178.5736
25 2019-01-26  1110.6300   2950.27     3186.8648
26 2019-01-27  2340.7125   9970.59     4323.3512
27 2019-01-28  4725.1800   5720.05     3253.9584
28 2019-01-29  5962.8150   9230.52     1596.3528
29 2019-01-30  5265.4425   5130.04     1193.0520
30 2019-01-31  5647.9875   8620.11     3438.6072
0  2019-02-01  6352.8600   5170.39     2078.0368
1  2019-02-02  3698.0700   3320.80     3248.2800
2  2019-02-03  4530.6300   7310.09     1394.4056
3  2019-02-04  5130.4575   8980.43     2262.6856
4  2019-02-05  3052.5225   6360.77        0.0000
5  2019-02-06  3195.0000   4990.69     3757.7904
6  2019-02-07  7238.0700   1030.61     4793.6840
7  2019-02-08  5767.5300   2760.49     2200.8448
8  2019-02-09  5205.5850   5900.87     4054.7528
9  2019-02-10  5002.8675   5290.13     2352.2800
10 2019-02-11  1470.7050   1400.81      638.4224
11 2019-02-12  1035.6900   3760.31     2055.2448
12 2019-02-13  2895.6600   7490.72     2268.3640
13 2019-02-14  4065.5325   5850.58     2100.4928
14 2019-02-15  1500.6075   6850.50     4194.9152
15 2019-02-16  4657.6050   4750.72     4244.9960
16 2019-02-17     0.0000   9890.08     5583.6312
17 2019-02-18  2977.7925   6330.01     3309.9136
18 2019-02-19  7027.7175   2640.38     3304.0784
19 2019-02-20  2842.7550   4470.27     1562.4504
20 2019-02-21  3525.2025   4400.77     3119.4408
21 2019-02-22  3833.0400   3550.09     3791.3176
22 2019-02-23  6742.6125   3260.81     4670.4112
23 2019-02-24   870.1500   8500.94     2536.9960
24 2019-02-25  1920.7275   7350.13     4933.9080
25 2019-02-26  6442.5600   7320.83     3567.4408
26 2019-02-27  3637.7025   4870.57     3617.9416
27 2019-02-28  6517.7400   2350.45     2861.6504

In [14]:
sales_df['Month'] = pd.DatetimeIndex(sales_df['Date']).month

In [15]:
sales_df

         Date   US_Sales  UK_Sales  Canada_Sales  Month
0  2019-01-01  6975.3900   4270.45     4665.1920      1
1  2019-01-02  4687.9875   5680.58     2044.3248      1
2  2019-01-03  5152.7175   8380.25     1064.0224      1
3  2019-01-04  4215.1275   9420.67     4066.1208      1
4  2019-01-05  7072.7100   8640.58     4581.2648      1
5  2019-01-06  7440.0225   2150.91     3304.3360      1
6  2019-01-07  5505.0525   3810.27     4200.1120      1
7  2019-01-08  2287.7025   2060.32     1545.9360      1
8  2019-01-09  4928.2350   3270.48      571.6704      1
9  2019-01-10  1477.5300   4520.89     2195.5472      1
10 2019-01-11  1432.9125   2720.27     3024.5264      1
11 2019-01-12  2333.0475   3060.77      700.0896      1
12 2019-01-13  4215.3075   5750.40     4552.8560      1
13 2019-01-14  6420.5925   5250.90     3068.8672      1
14 2019-01-15  1613.0175   7230.77     1797.9920      1
15 2019-01-16  3615.3675   3320.96     5336.8448      1
16 2019-01-17  4320.0075   4320.24     3623.7096      1
17 2019-01-18  6367.8900   6300.55     2346.5848      1
18 2019-01-19  6713.2425   7630.46      980.2576      1
19 2019-01-20  4635.6300   1320.65        0.0000      1
20 2019-01-21  4800.4800   4410.63      560.3864      1
21 2019-01-22  3967.9800   2140.94     2419.2224      1
22 2019-01-23   990.2100   8400.19     3808.1624      1
23 2019-01-24  5730.3750      0.00     2537.2928      1
24 2019-01-25   847.5225   2450.94     2178.5736      1
25 2019-01-26  1110.6300   2950.27     3186.8648      1
26 2019-01-27  2340.7125   9970.59     4323.3512      1
27 2019-01-28  4725.1800   5720.05     3253.9584      1
28 2019-01-29  5962.8150   9230.52     1596.3528      1
29 2019-01-30  5265.4425   5130.04     1193.0520      1
30 2019-01-31  5647.9875   8620.11     3438.6072      1
0  2019-02-01  6352.8600   5170.39     2078.0368      2
1  2019-02-02  3698.0700   3320.80     3248.2800      2
2  2019-02-03  4530.6300   7310.09     1394.4056      2
3  2019-02-04  5130.4575   8980.43     2262.6856      2
4  2019-02-05  3052.5225   6360.77        0.0000      2
5  2019-02-06  3195.0000   4990.69     3757.7904      2
6  2019-02-07  7238.0700   1030.61     4793.6840      2
7  2019-02-08  5767.5300   2760.49     2200.8448      2
8  2019-02-09  5205.5850   5900.87     4054.7528      2
9  2019-02-10  5002.8675   5290.13     2352.2800      2
10 2019-02-11  1470.7050   1400.81      638.4224      2
11 2019-02-12  1035.6900   3760.31     2055.2448      2
12 2019-02-13  2895.6600   7490.72     2268.3640      2
13 2019-02-14  4065.5325   5850.58     2100.4928      2
14 2019-02-15  1500.6075   6850.50     4194.9152      2
15 2019-02-16  4657.6050   4750.72     4244.9960      2
16 2019-02-17     0.0000   9890.08     5583.6312      2
17 2019-02-18  2977.7925   6330.01     3309.9136      2
18 2019-02-19  7027.7175   2640.38     3304.0784      2
19 2019-02-20  2842.7550   4470.27     1562.4504      2
20 2019-02-21  3525.2025   4400.77     3119.4408      2
21 2019-02-22  3833.0400   3550.09     3791.3176      2
22 2019-02-23  6742.6125   3260.81     4670.4112      2
23 2019-02-24   870.1500   8500.94     2536.9960      2
24 2019-02-25  1920.7275   7350.13     4933.9080      2
25 2019-02-26  6442.5600   7320.83     3567.4408      2
26 2019-02-27  3637.7025   4870.57     3617.9416      2
27 2019-02-28  6517.7400   2350.45     2861.6504      2

In [16]:
sales_df['Month'] = np.where(sales_df.Month == 1, 'Jan', 'Feb')

In [17]:
sales_df

         Date   US_Sales  UK_Sales  Canada_Sales Month
0  2019-01-01  6975.3900   4270.45     4665.1920   Jan
1  2019-01-02  4687.9875   5680.58     2044.3248   Jan
2  2019-01-03  5152.7175   8380.25     1064.0224   Jan
3  2019-01-04  4215.1275   9420.67     4066.1208   Jan
4  2019-01-05  7072.7100   8640.58     4581.2648   Jan
5  2019-01-06  7440.0225   2150.91     3304.3360   Jan
6  2019-01-07  5505.0525   3810.27     4200.1120   Jan
7  2019-01-08  2287.7025   2060.32     1545.9360   Jan
8  2019-01-09  4928.2350   3270.48      571.6704   Jan
9  2019-01-10  1477.5300   4520.89     2195.5472   Jan
10 2019-01-11  1432.9125   2720.27     3024.5264   Jan
11 2019-01-12  2333.0475   3060.77      700.0896   Jan
12 2019-01-13  4215.3075   5750.40     4552.8560   Jan
13 2019-01-14  6420.5925   5250.90     3068.8672   Jan
14 2019-01-15  1613.0175   7230.77     1797.9920   Jan
15 2019-01-16  3615.3675   3320.96     5336.8448   Jan
16 2019-01-17  4320.0075   4320.24     3623.7096   Jan
17 2019-01-18  6367.8900   6300.55     2346.5848   Jan
18 2019-01-19  6713.2425   7630.46      980.2576   Jan
19 2019-01-20  4635.6300   1320.65        0.0000   Jan
20 2019-01-21  4800.4800   4410.63      560.3864   Jan
21 2019-01-22  3967.9800   2140.94     2419.2224   Jan
22 2019-01-23   990.2100   8400.19     3808.1624   Jan
23 2019-01-24  5730.3750      0.00     2537.2928   Jan
24 2019-01-25   847.5225   2450.94     2178.5736   Jan
25 2019-01-26  1110.6300   2950.27     3186.8648   Jan
26 2019-01-27  2340.7125   9970.59     4323.3512   Jan
27 2019-01-28  4725.1800   5720.05     3253.9584   Jan
28 2019-01-29  5962.8150   9230.52     1596.3528   Jan
29 2019-01-30  5265.4425   5130.04     1193.0520   Jan
30 2019-01-31  5647.9875   8620.11     3438.6072   Jan
0  2019-02-01  6352.8600   5170.39     2078.0368   Feb
1  2019-02-02  3698.0700   3320.80     3248.2800   Feb
2  2019-02-03  4530.6300   7310.09     1394.4056   Feb
3  2019-02-04  5130.4575   8980.43     2262.6856   Feb
4  2019-02-05  3052.5225   6360.77        0.0000   Feb
5  2019-02-06  3195.0000   4990.69     3757.7904   Feb
6  2019-02-07  7238.0700   1030.61     4793.6840   Feb
7  2019-02-08  5767.5300   2760.49     2200.8448   Feb
8  2019-02-09  5205.5850   5900.87     4054.7528   Feb
9  2019-02-10  5002.8675   5290.13     2352.2800   Feb
10 2019-02-11  1470.7050   1400.81      638.4224   Feb
11 2019-02-12  1035.6900   3760.31     2055.2448   Feb
12 2019-02-13  2895.6600   7490.72     2268.3640   Feb
13 2019-02-14  4065.5325   5850.58     2100.4928   Feb
14 2019-02-15  1500.6075   6850.50     4194.9152   Feb
15 2019-02-16  4657.6050   4750.72     4244.9960   Feb
16 2019-02-17     0.0000   9890.08     5583.6312   Feb
17 2019-02-18  2977.7925   6330.01     3309.9136   Feb
18 2019-02-19  7027.7175   2640.38     3304.0784   Feb
19 2019-02-20  2842.7550   4470.27     1562.4504   Feb
20 2019-02-21  3525.2025   4400.77     3119.4408   Feb
21 2019-02-22  3833.0400   3550.09     3791.3176   Feb
22 2019-02-23  6742.6125   3260.81     4670.4112   Feb
23 2019-02-24   870.1500   8500.94     2536.9960   Feb
24 2019-02-25  1920.7275   7350.13     4933.9080   Feb
25 2019-02-26  6442.5600   7320.83     3567.4408   Feb
26 2019-02-27  3637.7025   4870.57     3617.9416   Feb
27 2019-02-28  6517.7400   2350.45     2861.6504   Feb

In [19]:
sales_group_df = sales_df.groupby(['Month']).mean()

In [20]:
sales_group_df

          US_Sales     UK_Sales  Canada_Sales
Month
Feb    3969.192589  5219.794286   3018.013400
Jan    4283.833065  5101.150000   2650.518658